{% extends "layout.html" %}

{% block title %}
Opening page
{% endblock %}

{% block content %}

<h2>Opening page</h2>

<form action="/" method="POST">

    <p>
        Search with title name: <input type="text" name="searchtitle" value="{{ request.form['searchtitle'] }}"
            id="searchtitle">
        <button type="submit"> Search </button>
    </p>

</form>

{% if alert %}
<p class=error><strong>Error:</strong> {{ alert }} </p>
{% endif %}

<ul>
    {% for tip in tips %}
    <li>
        <form action="/like" method="post">
            <a href={{ tip.url }}> {{ tip.title }} </a>
            <input type=hidden value="{{ tip.id }}" name=tip_id />
            {% if liked_tips and tip.id in liked_tips %}
            <button type="submit"> Unlike </button>
            {% elif session.username %}
            <button type="submit"> Like </button>
            {% endif %}
            {{ tip_likes[tip.id] }}
        </form>
    </li>
    {% endfor %}
</ul>

{% endblock %}