{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}

<h2>Registration page</h2>

<form action="/register" method="post">

    {% if alert %}
    <p class=error><strong>Error:</strong> {{ alert }} </p>
    {% endif %}

    <div>
        <label for="username">Username</label>
        <input type="text" name="username" value="{{ request.form['username'] }}" id="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" value="{{ request.form['password'] }}" id="password" \>
    </div>
    <div>
        <label for="password_confirmation">Password confirmation</label>
        <input type="password" name="password_confirmation" value="{{ request.form['password_confirmation'] }}" id="password_confirmation" \>
    </div>

    <button>Register</button>

</form>
{% endblock %}