{% extends "layout.html" %}

{% block title %}
user page
{% endblock %}

{% block content %}

<h2>Your own tips</h2>

{% if alert %}
<p class=error><strong>Error:</strong> {{ alert }}
{% endif %}

{% for tip in tips %}

<li>
    <form action="/delete" method="post" onSubmit="return confirm('Are you sure you wish to delete?');">
        <a href={{ tip.url }}>{{ tip.title }} </a>
        <input type=hidden value="{{ tip.id }}"name=tip_id_to_delete />
        <button type="submit">Delete</button>
        
    </form>
</li>

{% endfor %}

{% endblock %}